@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

body {
    background-color: #FAFAFA;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 20px 50px;
    margin-top: 0px;
}


#searchbar input[type=text] {
    width: 400px;
    height: 40px;
    padding: 2px;
    padding-left: 20px;
    border: none;
    margin-top: 15px;
    font-size: 17px;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
#stockSymbol{
    width: 100%;
    height: 2.8rem;
    background: #c6d7e0;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}
  
#fetchStockPrice {
    width: 3.5rem;
    height: 2.8rem;
    margin-top: 15px;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}
  
#fetchStockPrice:hover {
    cursor: pointer;
}

body h1{
    margin-bottom: -5px;
}

body h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: -5px;
}

br {
    margin-top: 10px; 
    border: 100px solid #000; 
}

.textbox {
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start; 
  }
  
  .logo {
    width: 30px; 
    height: auto; 
    margin-right: 10px;
    align-self: flex-end; 
  }

#historicalPriceList {
columns: 5;
-webkit-columns: 5; 
-moz-columns: 5; 
list-style: none; 
padding: 0; 
margin: 0; 
padding-top: 20px;
}

#historicalPriceList li {
margin-bottom: 10px; 
}

.stockinfo {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 0px; 
    width: 1000px; 
    margin: 0; 
    padding-bottom: 20px;
}
