@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

body {
    background-color: #FAFAFA;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 20px 50px;
    margin-top: 0px;
}


#searchbar input[type=text] {
    width: 300px;
    height: 40px;
    padding: 2px;
    padding-left: 20px;
    border: none;
    margin-top: 15px;
    font-size: 17px;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
#stockSymbol{
    width: 100%;
    height: 2.8rem;
    background: #c6d7e0;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}
  
#fetchStockPrice {
    width: 3.5rem;
    height: 2.8rem;
    margin-top: 15px;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}
  
#fetchStockPrice:hover {
    cursor: pointer;
}

body h1{
    margin-bottom: -5px;
}

body h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: -5px;
}

br {
    margin-top: 10px; /* Adjust the spacing as needed */
    border: 100px solid #000; /* Add a border to make the line break visible */
}

.textbox {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start; /* Align items to the start (left) */
  }
  
  .logo {
    width: 30px; /* Set the width of the image as needed */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 10px; /* Add spacing between image and text */
    align-self: flex-end; /* Align the logo to the bottom */
  }

#historicalPriceList {
columns: 5;
-webkit-columns: 5; /* For older versions of Chrome and Safari */
-moz-columns: 5; /* For older versions of Firefox */
list-style: none; /* Remove default list bullet points */
padding: 0; /* Remove padding */
margin: 0; /* Remove margin */
padding-top: 20px;
}

#historicalPriceList li {
margin-bottom: 10px; /* Adjust as needed for spacing between items */
}

.stockinfo {
    display: grid;
    grid-template-columns: 50% 50%; /* Two columns each occupying 50% */
    gap: 0px; /* Add some spacing between columns */
    width: 1000px; /* Set the fixed width of the grid */
    margin: 0; /* Remove the automatic centering and align it to the left */
    padding-bottom: 20px;
  }



/* Media Queries */
@media only screen and (min-width: 32.5em) {
    nav ul {
        flex-direction: row;
    }

    nav ul li:first-child {
        display: none;
    }

    nav ul li {
        display: block;
    }

    section {
        min-width: 300px;
    }

    #home {
        margin: 100px auto 20px;
        grid-template-columns: 250px 1fr;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }

    #task3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        margin: 0 auto;
        max-width: 950px;
    }

}
